*{
    margin: 0;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #1f1f1f;
}

::-webkit-scrollbar-thumb{
    background: #FC8E3A;
}


:root{
    --ff-reg: 300;
    --ff-bold: 900;

    --clr-light: #fff;
    --clr-dark: #2E2E2E;
    --clr-accent: #FC8E3A;

    --fs-h1: 6rem;
    --fs-h2: 4.5rem;
    --fs-h3: 2.25rem;
    --fs-body: 1.5rem;

    --bs: .5em .75em .5em rgba(0 ,0, 0, .25) 
}

@media(min-width: 740px){
    :root{
        --fs-h1: 8rem;
        --fs-h2: 5.75rem;
        --fs-h3: 3rem;
        --fs-body: 1.75rem;
    }
}

/*============ General styles ===========*/

section{
    padding: 3.85em 2em;
}

img{
    display: block;
    width: 100%;
}

.main-text{
    display: block;
    letter-spacing: 2px;
}

/*========== Typography ===========*/

h1,
h2,
h3{
  line-height: 1.1;  
  margin: 0;
}

.section__title{
    margin: 0;
    font-size: var(--fs-h3);
    font-family: 'Source Sans Pro', sans-serif;
}

.section__subtitle{
    background: var(--clr-accent);
    font-family: 'Source Sans Pro', sans-serif;
}

/*========= header ==========*/

header{
    background-color: var(--clr-dark);
}

.logo{
    width: 90px;
}

.close-nav{
    border: 0;
    background: 0;
    color: var(--clr-accent);
    font-weight: 800;
    cursor: pointer;
    font-size: 2.8em;
    padding: .2em .6em;
    position: absolute;
    right: 0;
    top: 0;
}

.open-nav{
    border: 0;
    background: 0;
    font-weight: 800;
    font-size: 2em;
    padding: .4em .8em;
    color: var(--clr-accent);
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-container{
    position: fixed;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 30%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.navigation-open{
    transform: translateX(0);
}

.nav-list{
    display: flex;
    flex-direction: column;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    padding-top: 2.5em;
    font-size: var(--fs-h3);
}

.nav-item{
    list-style-type: none;
    margin: 1em 0;
    padding-left: .5em;
    font-family: 'Source Sans Pro', sans-serif;
}

#hire-me{
    color: var(--clr-accent);
}

.nav-link{
    text-decoration: none;
    color: var(--clr-light);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--clr-accent);
}


/*=========== intro ==========*/

.intro-image{
    box-shadow: var(--bs);
    width: 250px;
    margin: 0 auto;
}

.coloured-text{
    color: var(--clr-accent);
}

.section-title{
    padding: .75em;
    display: inline-block;
    margin: 1em 0;
    letter-spacing: 2px;
}


/*========= Services ==========*/

.my-services{
    background-color: var(--clr-dark);
    color: #fff;
    text-align: center;
}

.service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-title{
    text-align: center;
    letter-spacing: 2px;
    color: var(--clr-accent);
}

.services-title::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: .5em auto 1em;
    background-color: var(--clr-accent);
    opacity: .45;
}

.hire-me{
    margin: 0 auto;
    width: 30%;
}

.service-heading{
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: .75em;
    color: var(--clr-accent);
    font-family: 'Source Sans Pro', sans-serif;
}

.service-two .service-heading,
.service-three .service-heading,
.service-one .service-desc,
.service-two .service-desc,
.service-three .service-desc{
    margin-top: 1em;
}


.service-desc{
    margin: 0 auto;
    line-height: 1.6;
    letter-spacing: 1.5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn{
    display: inline-block;
    padding: .65em 1.5em;
    margin-top: 1.5em;
    margin-bottom: .5em;
    background-color: var(--clr-accent);
    color: #2E2E2E;
    text-decoration: none;
    font-size: 1.5em;
    letter-spacing: 1px;
    border-radius: 8px;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn:hover,
.btn:focus{
    color: var(--clr-light);
}

/*========== skills ===========*/

.skills-title{
    text-align: center;
    color: #FC8E3A;
}

.skills-title::after{
    content: '';
    display: block;
    width: 5em;
    height: 1px;
    margin: .5em auto 1em;
    background-color: var(--clr-accent);
    opacity: .75;
}

.icon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.icon-container > p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    letter-spacing: 1.5px;
    font-family: 'Source Sans Pro', sans-serif;
}

.skills-image{
    margin: 1em 1.25em;
}


/*========== work ===========*/

.work-title{
    margin-bottom: 2.75em;
    text-align: center;
    color: #FC8E3A;
    letter-spacing: 2px;
}

.work-title::after{
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: .5em auto 1em;
    background-color: var(--clr-accent);
    opacity: .45;
}

.my-work{
    background-color: #2E2E2E;
    text-align: center;
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
    padding-bottom: 4em;
    border-bottom: 1px solid rgba(255, 255, 255, .45);
}

.project:last-child{
    border: 0;
}

.project-image{
    width: 85%;
    margin-bottom: 1.8em;
    box-shadow: .85em 1em 1em rgba(0, 0, 0, .45);;
}

.project-image-one,
.project-image-two,
.project-image-three,
.project-image-four,
.project-image-five{
    order: 0;
}

.project-heading{
    font-size: var(--fs-h3);
    color: #FC8E3A;
}

.project-heading-one,
.project-heading-two,
.project-heading-three,
.project-heading-four,
.project-heading-five{
    text-align: center;
    margin-bottom: .5em;
    margin-top: .75em;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
}

.project-one-content,
.project-two-content,
.project-three-content,
.project-four-content,
.project-five-content{
    order: -1;
    box-shadow: .75em .85em 1.25em rgba(0, 0, 0, .45);
    margin-bottom: 1.8em;
    padding-inline: 1em;
}

.project-desc{
    color: rgb(245, 245, 245);
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1.25px;
}

.project-desc-one,
.project-desc-two,
.project-desc-three,
.project-desc-four,
.project-desc-five{
    line-height: 1.6;
    font-size: 1.275em;
    text-align: center;
    color: #fff;
}

.project-desc-two li{
    margin-top: .3em;
    margin-bottom: .3em;
}

.work-profile{
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-link{
    text-decoration: none;
    color: var(--clr-accent);
    border-bottom: 1px solid #FC8E3A;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1.75px;
    font-family: 'Source Sans Pro', sans-serif;
    transition: 300ms ease-in-out;
}

.work-link:hover,
.work-link:focus{
    color: var(--clr-light);
}

.arrow-image{
    width: 30px;
    margin-left: .6em;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.85em;
    margin-bottom: 2em;
    text-transform: uppercase;
}

.slide-link::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--clr-dark);
    z-index: -1;
    border-radius: 8px;
    border: 1px solid var(--clr-accent);

    transform: scaleX(0);
    transform-origin: left;
    transition: transform 300ms ease-in-out;
}

.slide-link:hover::before,
.slide-link:focus::before{
    transform: scaleX(1);
}

.slide-link{
    position: relative;
    z-index: 1;
}

.live-link{
    margin-bottom: 1em;
}

.live-link,
.github-link{
    padding: .6em .85em;
    text-decoration: none;
    background-color: #FC8E3A;
    color: #2E2E2E;
    letter-spacing: 2px;
    border-radius: 8px;
    font-size: 1.125em;
    font-family: 'Source Sans Pro', sans-serif;
}

.live-link:hover,
.github-link:hover,
.live-link:focus,
.github-link:focus{
    opacity: .85;
    color: #fff;
}

.link-one,
.link-two,
.link-three,
.link-four,
.link-five{
    text-align: center;
}

.tech-stack{
    margin: .75em 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.stack-bold{
    color: #FC8E3A;
    font-family: 'Source Sans Pro', sans-serif;
}

/*=========== footer ==========*/

.contact{
    padding-top: 1.5em;
    text-align: center;
    font-size: 1.125em;
    letter-spacing: 2px;
    background-color: #1f1f1f;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
}

.copyright{
    margin-left: auto;
    padding-top: 4.25em;
    margin: .5em;
}

.copyright-bold{
    color: var(--clr-accent);
}

.contact-title{
    margin: .35em 0;
}

.contact-email{
    color: var(--clr-accent);
    text-decoration: underline;
}

.contact-email:hover,
.contact-email:focus{
    opacity: .8;
}

.social-list{
    display: flex;
    justify-content: center;
}

.social-item{
    list-style-type: none;
    margin-top: .85em;
    font-size: 1.2em;
}

.social-link{
    margin: 0 .5em;
    color: var(--clr-accent);
}

.social-link:hover,
.social-link:focus{
    opacity: .75;
    color: var(--clr-light);
}


@media(min-width: 740px){

    /*=========== header ============*/

    .logo{
        width: 90px;
    }

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--clr-dark);
    }

    .nav-container{
        position: unset;
        transform: unset;
        transition: unset;
    }
   
    .nav-list{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        font-size: 1.075em;
        padding-top: 0;
        padding-left: 0;
    }

    .close-nav,
    .open-nav{
        display: none;
    }
    
    .nav-item{
        padding-left: 0;
        margin-right: .8em;
        font-size: 1.275em;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
    }
    
    
    .nav-link{
        text-decoration: none;
        color: rgb(228, 228, 228);
    }
    
    .nav-link:hover,
    .nav-link:focus{
        color: var(--clr-accent);
    }

    /*========== intro =========*/

    .intro{
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }

    .intro-image{
        grid-area: img;
        min-width: 300px;
        position: relative;
        z-index: 2;
    }

    .section-heading{
        align-self: flex-end;
        margin-bottom: .5em;
        font-weight: var(--ff-reg);
    }

    .main-text{
        font-weight: var(--ff-bold);
    }

    .section-title{
        align-self: flex-start;
        grid-column: -1 / 1;
        grid-row: 2;
        padding: .75em 1em;
        text-align: right;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
        letter-spacing: 4px;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    /*========= services ==========*/


    .services-title::before{
        content: '';
        display: block;
        width: 2em;
        height: 1px;
        margin: .5em auto .5em;
        background-color: var(--clr-accent);
        opacity: .45;
    }
    
    .services-title{
        color: var(--clr-accent);
        position: relative;
    }

    .services-title::after{
        content: '';
        display: block;
        width: 2em;
        height: 1px;
        margin: .5em auto 1em;
        background-color: var(--clr-accent);
        opacity: .45;
    }

    .service-heading{
        font-size: 2.5rem;
        margin-bottom: .5em;
    }

    .service-one,
    .service-two,
    .service-three{
        width: 80%;
    }

    .service-two{
        margin-top: 0;
    }
    
    .service-desc{
        width: 100%;
        min-width: 300px;
        margin: 0 auto;
        line-height: 1.8;
        letter-spacing: 1px;
        font-size: 1.25rem;
        font-family: 'Source Sans Pro', sans-serif;
    }

    /*========= skills ==========*/

    .skills-title::before{
        content: '';
        display: block;
        width: 5em;
        height: 1px;
        margin: .5em auto .5em;
        background-color: var(--clr-accent);
        opacity: .75;
    }

    .skills-title{
        text-align: center;
        color: #FC8E3A;
    }

    .skills-title::after{
        content: '';
        display: block;
        width: 5em;
        height: 1px;
        margin: .5em auto 1em;
        background-color: var(--clr-accent);
        opacity: .75;
    }

    /*======= work ========*/

    .work-title::before{
        content: '';
        display: block;
        width: 2em;
        height: 1px;
        margin: .5em auto .5em;
        background-color: var(--clr-accent);
        opacity: .45;
    }

    .work-title{
       margin-bottom: 2.75em;
       text-align: center;
       color: #FC8E3A;
       letter-spacing: 2px;
    }

    .work-title::after{
        content: '';
        display: block;
        width: 2em;
        height: 1px;
        margin: .5em auto 1em;
        background-color: var(--clr-accent);
        opacity: .45;
    }

    .my-work{
        background-color: #2E2E2E;
        text-align: center;
    }

    .project{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .project-image{
        width: 90%;
    }

    .project-heading{
        font-size: var(--fs-h3);
        color: #FC8E3A;
    }

    .project-heading-one,
    .project-heading-two,
    .project-heading-three,
    .project-heading-four,
    .project-heading-five{
        text-align: center;
        margin-bottom: .5em;
        margin-top: .75em;
    }

    .project-desc{
        color: rgb(245, 245, 245);
    }

    .project-desc-one,
    .project-desc-two,
    .project-desc-three,
    .project-desc-four,
    .project-desc-five{
        line-height: 1.6;
        font-size: 1.275em;
        text-align: left;
        color: #fff;
    }

    .tech-stack{
        margin: .75em 0;
        text-align: center;
        font-size: 1.45em;
    }

    .stack-bold{
        color: #FC8E3A;
    }

    .project-one-content,
    .project-three-content{
        text-align: right;
    }

    .project-two-content,
    .project-four-content{
        text-align: left;
    }

    .project-desc-one,
    .project-desc-three{
        margin-left: auto;
    }

    .project-desc-two,
    .project-desc-four{
        margin-right: auto;
    }

    .work-profile{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .work-link{
        text-decoration: none;
        color: #FC8E3A;
        border-bottom: 1px solid #FC8E3A;
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 1.75px;
    }

    .work-link:hover{
        color: var(--clr-light);
    }

    .arrow-image{
        width: 40px;
        margin-left: .6em;
    }

    .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.85em;
        margin-bottom: 2em;
    }

    .live-link{
        margin-right: 1.5em;
        margin-bottom: 0;
    }

    .link-one,
    .link-two,
    .link-three,
    .link-four,
    .link-five{
        text-align: center;
    }

    /*======== footer ========*/

    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 1.5em;
        text-align: center;
        font-size: 1.45em;
        letter-spacing: 2px;
        background-color: #1f1f1f;
        color: var(--clr-light);
    }

    .contact-title{
        margin: .35em 0;
    }

    .copyright{
        font-size: .6em;
        margin-left: auto;
        padding-top: 8em;
    }
}

@media(min-width: 920px){

    /*======= header ========*/

    .nav-list{
        font-size: 1.175em;
    }
    
    .nav-item{
        margin: 0 1em;
        font-family: 'Source Sans Pro', sans-serif;
        text-transform: uppercase;
    }
    
    .nav-link{
        text-decoration: none;
        color: rgb(228, 228, 228);
    }
    
    .nav-link:hover{
        color: var(--clr-accent);
    }

    /*========= services ========*/

    .service-container{
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 2em;
    }

    .service-one,
    .service-two,
    .service-three{
        width: 30%;
    }

    .service-two .service-heading,
    .service-three .service-heading{
        margin-top: 0;
    }


    /*========= work ==========*/

    .work-title{
        margin-bottom: 2.75em;
        text-align: center;
        color: #FC8E3A;
        letter-spacing: 2px;
    }
    
    .work-title::after{
        content: '';
        display: block;
        width: 2em;
        height: 1px;
        margin: .5em auto 1em;
        background-color: var(--clr-accent);
        opacity: .45;
    }
    
    .my-work{
        background-color: #2E2E2E;
        text-align: center;
    }
    
    .project{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10em;
    }

    .project-one-content,
    .project-two-content,
    .project-three-content,
    .project-four-content,
    .project-five-content{
        box-shadow: .75em .85em 1.25em rgba(0, 0, 0, .45);
        margin-inline: 2em;
        padding-inline: 2.25em;
        margin-bottom: 0;
    }
    
    .project-image{
        width: 45%;
    }

    .project-image-two,
    .project-image-four{
        order: 0;
    }

    .project-two-content,
    .project-four-content{
        order: 1;
    }

    .project-heading{
        font-size: var(--fs-h3);
        color: #FC8E3A;
    }
    
    .project-heading-one,
    .project-heading-two,
    .project-heading-three,
    .project-heading-four,
    .project-heading-five{
        text-align: center;
        margin-bottom: .5em;
        margin-top: .75em;
    }
    
    .project-desc{
        color: rgb(245, 245, 245);
    }
    
    .project-desc-one,
    .project-desc-two,
    .project-desc-three,
    .project-desc-four,
    .project-desc-five{
        line-height: 1.6;
        font-size: 1.275em;
        text-align: left;
        color: #fff;
    }
    
    .work-profile{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .work-link{
        text-decoration: none;
        color: #FC8E3A;
        border-bottom: 1px solid #FC8E3A;
        font-size: 1.25em;
        text-transform: uppercase;
        letter-spacing: 1.75px;
    }
    
    .work-link:hover{
        color: #fff;
    }
    
    .arrow-image{
        width: 40px;
        margin-left: .6em;
    }
    
    .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 1.85em;
        margin-bottom: 2em;
    }
    
    .live-link{
        margin-right: 1.5em;
        margin-bottom: 0;
    }
        
    .link-one,
    .link-two,
    .link-three,
    .link-four,
    .link-five{
        text-align: center;
    }
    
    .tech-stack{
        margin: .75em 0;
    }
    
    .stack-bold{
        color: #FC8E3A;
    }
}